%html
  %head
    %title= @title
  %body
    %h1= @title
    %p
      %img{:src => 'http://gyazo.com/34f855dcb3de79df386d6fd440dcbf67.png'}
    %form{:action => '/upload', :method => 'POST', :enctype => 'multipart/form-data'}
      %input{:type => 'file',   :name => 'file'}
      %input{:type => 'submit', :value => 'upload source .ttf'}
      %input{:type => 'hidden', :name => '_method', :value => 'put'}
    %p
      %a{:href => 'https://github.com/youpy/glitched-ttf-generator'} github
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .fb-like{:data => {:href => 'http://glitched-ttf-generator.heroku.com/', :send => 'false', :width => '450', 'show-faces' => 'true'}}
