%html
  %head
    %title= @title
  %body
    %h1= @title
    %form{:action => '/upload', :method => 'POST', :enctype => 'multipart/form-data'}
      %input{:type => 'file',   :name => 'file'}
      %input{:type => 'submit', :value => 'upload source .ttf'}
      %input{:type => 'hidden', :name => '_method', :value => 'put'}
    %p
      %a{:href => 'https://github.com/youpy/glitched-ttf-generator'} github
